body{
    background-color: #ced4da;
    margin: 0;
    padding: 0;
}

.mainContainer{
   font-family: 'VT323', monospace;
   display: flex;
   flex-direction: column;
}


/* Header */
.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: inherit;
    background-color: #495057;
}

.header{
    margin:0px 100px;


}
.header #text{
    font-size: 80px;
    color: #ced4da;
    padding: 10px;
    margin: 20px;
}


/* Intro */
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: inherit;
}


#intro{
    font-size: 40px;
}

.robot{
    display: flex;
    flex: 2;
    justify-content: center;
    flex-shrink: 0;
}

#robotImage{
    background:transparent;
    height: 500px;
    width: 1000px;
    object-fit: cover;
}

#startButton{
    font-family:'VT323', monospace;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}